[submodule "htdocs/workstation"]
	path = htdocs/workstationatm
	url = git@github.com:ATM-Consulting/dolibarr_module_workstation.git
	branch = 2.0
[submodule "htdocs/nomenclature"]
	path = htdocs/nomenclature
	url = git@github.com:ATM-Consulting/dolibarr_module_nomenclature.git
	branch = 4.9
[submodule "htdocs/of"]
	path = htdocs/of
	url = git@github.com:ATM-Consulting/dolibarr_module_of.git
    branch = 2.13
[submodule "htdocs/abricot"]
	path = htdocs/abricot
    url = git@github.com:ATM-Consulting/dolibarr_module_abricot.git
    branch = 3.2
